---
import Layout from "../layouts/Layout.astro";
import { HTHeader } from "@computational-biology-sw-web-dev-unit/ht-vue/components";
import DashboardCard from "../components/DashboardCard.astro";

import GitHubLink from "../components/GitHubLink.astro";

import actionetLogo from "../images/davila/actionet.png";

const cards = {
  actionet: {
    title: "ACTIONet",
    logo: actionetLogo,
    alt: "ACTIONet logo",
    website: "http://compbio.mit.edu/ACTIONet/",
    links: {
      github: "https://github.com/shmohammadi86/ACTIONet/",
    },
  },
};
---

<Layout title="Davila-Velderrain Group">
  <HTHeader slot="header" is-web={true} client:load>
    <a
      slot="logo"
      href="https://humantechnopole.it/en/research-groups/davila-velderrain-group/"
      target="_blank"
      class="link"
      >Davila-Velderrain Group
    </a>
    <div slot="nav" class="header-nav">
      <a href="/" class="link"> HT CBRC Groups</a>
    </div>
  </HTHeader>
  <h1 slot="title">Davila-Velderrain Group</h1>
  <h2 slot="title">Manuscripts, Apps and Tools</h2>
  <DashboardCard
    slot="grid"
    title={cards.actionet.title}
    logo={cards.actionet.logo}
    alt={cards.actionet.alt}
  >
    <p class="text--sm">
      ACTIONet, a comprehensive framework that combines archetypal analysisand
      network theory to provide a ready-to-use analytical approach
      formultiresolution single-cell state characterization.
    </p>
    <a
      href={cards.actionet.website}
      class="btn btn--primary btn--sm btn--full-width"
      target="_blank"><span>Website</span></a
    >
    <GitHubLink slot="minilinks" url={cards.actionet.links.github} />
  </DashboardCard>
</Layout>
