---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const groups = await getCollection("groups");

import "@nf-data-iu3/ht-design/style.css";
import '@nf-data-iu3/ht-vue/style.css'


---

<style lang="scss">
  .header-content {
    display: flex;
    height: 100%;
    justify-content: center;
    padding-block: var(--size-3);
  }

  @media (min-width: 50em) {
    .header-content{
      justify-content: flex-end;
    }
  }

  .groups-card {
    width: 20rem;
    text-align: center;
    transition: transform 0.1s;

    box-shadow: var(--shadow-3);

    &:hover {
      transform: scale(1.05);
    }

    img {
      object-fit: cover;
      filter: grayscale(1);
      width:100%;
    }

    p {
      font-size: var(--font-size-0)
    }
  }

</style>

<Layout heading="HT Groups">
<!--   <HTHeaderWeb slot="header" client:only>
    <div class="header-content"><HTThemeSwitcher client:only /></div>
  </HTHeaderWeb> -->
  <h2 class="title" slot="heading">HT Groups</h2>
 {groups.map((group) => 
 <article class="groups-card ht-card">
  <a class="ht-reset" href={group.slug}>
  <Image src={group.data.cover} alt={group.data.coverAlt} ></Image>
  
  <div class="ht-container">
    <h2>{group.data.name}</h2>
    <p>{group.data.center}</p>
  </div>
  </a>
 </article>)}

</Layout>
