---

import { Image } from 'astro:assets';

const { group } = Astro.props;
const { src, alt, name, center, slug } = group;
---

<article class="ht-card">
  <a class="ht-reset" href={slug}>
    <Image src={src} alt={alt}></Image>
    <div class="ht-container">
      <h2>{name}</h2>
      <small>{center}</small>
    </div>
  </a>
</article>

<style lang="scss">
  .ht-card {
    overflow: hidden;
  }

  .ht-container {
    --padding-block: 1em;
    --padding-inline: 1em;
  }

  article {
    width: 20rem;
    padding: 0;
    text-align: center;

    transition: transform 0.1s;

    box-shadow: var(--shadow-3);

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      filter: grayscale(1);
    }
  }
</style>
